#root {
  max-width: 1480px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logoContainer {
  width: "100%";
  background-color: rd;
}

.mainTitle {
  font-size: 2rem;
  color: white;
}


.links a {
  color: #ad2a30;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeading {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #ad2a30;
  font-weight: 800;
}

.qrcode {
  width: 300px !important;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.headingDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #ad2a30;
  font-size: 20px;
}

.headingDiv a{
  color: white ;
}

  @media screen and (max-width: 900px) {
    .mainTitle {
      font-size: 0.8rem;
    }
  
    p {
      font-size: 10px;
    }
    a {
      font-size: 10px;
    }
  
    .qrcode{
      position: unset ;
     margin-top: 20px;
    }

    .mainHeading{
    font-size: 15px;
    }
  }

  @media screen and (max-height: 900px) {
   
  
    .qrcode{
      position: unset ;
     margin-top: 20px;
    }

  }